# --- Platform Detection ---
TFOS=$(uname -s | tr '[:upper:]' '[:lower:]')
TFARCH=$(uname -m)
case "$TFARCH" in
    x86_64) TFARCH="amd64" ;;
    aarch64|arm64) TFARCH="arm64" ;;
esac

# Workenv directory setup
PROFILE="${{{ env_profile_var }}:-default}"
if [ "$PROFILE" = "default" ]; then
    VENV_DIR="workenv/{{ venv_prefix }}_${TFOS}_${TFARCH}"
else
    VENV_DIR="workenv/${PROFILE}_${TFOS}_${TFARCH}"
fi

export UV_PROJECT_ENVIRONMENT="${VENV_DIR}"